
### IntelliJ IDEA ###
/**/.idea/
/**/target/
/**/cashbook.db
/**/*.iml


### VS Code ###
/**/.vscode/
/**/node_modules/
/**/dist/
/**/node_modules/
/**/dist/
/**/server/
/**/package-lock.json
/**/nginx/logs/
/**/nginx/temp/

### Mac OS ###
.DS_Store