
### IntelliJ IDEA ###
/**/.idea/
/**/target/
/**/cashbook.db
/**/*.iml


### VS Code ###
/**/.vscode/
/**/node_modules/
/source/books/dist/

/**/package-lock.json
/**/nginx/logs/
/**/nginx/temp/

### Mac OS ###
.DS_Store