
### IntelliJ IDEA ###
/**/.idea/
/**/target/
/**/build/
/**/cashbook.db
/**/*.iml
/**/*.zip
/**/*.exe
/**/*.db


### VS Code ###
/**/.vscode/
/**/node_modules/

### Mac OS ###
.DS_Store

/server/resources/data/*
/Data
/server/cashbook.log
/ui/dist

.env