/* color palette from <https://github.com/vuejs/theme> */
:root {

  /* 日间模式颜色 */
  --write: #FFFFFF;
  --black: #000000;
  
  /* 夜间模式颜色 */
}

/* 日间模式变量赋值 */
:root {
  --color-background: var(--write);
}

/* 夜间模式变量赋值 */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
  }
}

body{
  margin: 0;
  height: 100vh;
}

/* 覆盖ElementPlus默认样式 */
.el-main{
  --el-main-padding: 0 !important;
}