/* color palette from <https://github.com/vuejs/theme> */
:root {
  --write: #ffffff;
  --black: #000000;
  --write-background: #ffffff;
  --black-background: #121212;
}

/* 日间模式变量赋值 */
:root {
  --color-background: var(--write-background);
}

/* 夜间模式变量赋值 */
@media (prefers-color-scheme: dark) {
  html.dark {
    --color-background: var(--black-background);
  }
}

body {
  background-color: var(--color-background);
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: #3498db;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background-color: #ecf0f1;
  border-radius: 10px;
}

body {
  margin: 0;
}

/* 覆盖ElementPlus默认样式 */
.el-main {
  --el-main-padding: 0 !important;
}

.common-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#app {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}
