<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.oldmoon.cashbook.dao.FlowDao">
    <select id="countTotalMoney" resultType="java.lang.Double">
        select COALESCE(sum(money), 0)
        from flows
        <where>
            <if test="param.bookKey != null and param.bookKey != ''">
                and book_key = #{param.bookKey}
            </if>
            <if test="param.startDay != null and param.startDay != ''">
                and `day` &gt;= #{param.startDay}
            </if>
            <if test="param.endDay != null and param.endDay != ''">
                and `day` &lt;= #{param.endDay}
            </if>
            <if test="param.type != null and param.type != ''">
                and `type` = #{param.type}
            </if>
            <if test="param.payType != null and param.payType != ''">
                and pay_type = #{param.payType}
            </if>
            <if test="param.name != null and param.name != ''">
                and `name` like '%'||#{param.payType}||'%'
            </if>
            <if test="param.description != null and param.description != ''">
                and description like '%'||#{param.description}||'%'
            </if>
        </where>
    </select>
    <select id="countDailyLine" resultType="top.oldmoon.cashbook.entity.VO.DailyLineVO">
        select
            `day` as "day",
            sum(money) as "daySum"
        from flows
        <where>
            <if test="param.bookKey != null and param.bookKey != ''">
                and book_key = #{param.bookKey}
            </if>
            <if test="param.startDay != null and param.startDay != ''">
                and `day` &gt;= #{param.startDay}
            </if>
            <if test="param.endDay != null and param.endDay != ''">
                and `day` &lt;= #{param.endDay}
            </if>
        </where>
        group by `day`
        order by `day`
    </select>
    <select id="typePie" resultType="top.oldmoon.cashbook.entity.VO.TypePieVO">
        select
            `type` as "type",
            sum(money) as "typeSum"
        from flows
        <where>
            <if test="param.bookKey != null and param.bookKey != ''">
                and book_key = #{param.bookKey}
            </if>
            <if test="param.startDay != null and param.startDay != ''">
                and `day` &gt;= #{param.startDay}
            </if>
            <if test="param.endDay != null and param.endDay != ''">
                and `day` &lt;= #{param.endDay}
            </if>
        </where>
        group by `type`
        order by typeSum
    </select>
</mapper>