::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #7ec171;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background-color: rgba(172, 172, 172, 0.4);
  border-radius: 10px;
}

html,
body {
  margin: 0;
  overflow: hidden !important;
}

.app-container {
  width: 100%;
  height: 100%;
  background-color: rgb(var(--v-theme-background));
  border-radius: 0.5rem;
  /* border: 1px solid rgba(21, 192, 58, 0.6) !important; */
  /* box-shadow:
    2px 2px 5px 2px rgba(21, 192, 58, 0.6),
    -2px -2px 5px 2px rgba(21, 192, 58, 0.6) !important; */
  overflow: hidden;
}

.layout-border-radius {
  /* box-shadow:
    2px 2px 5px 2px rgba(112, 225, 137, 0.1),
    -2px -2px 5px 2px rgba(112, 225, 137, 0.1) !important; */
  border-radius: 0.5rem !important;
  overflow: hidden !important;
}

.main-inner-header {
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: right;
}
.queryParam {
  min-width: 12rem;
}
.btn-group-btn {
  margin: 0 0.5rem;
}

.chart-common-container {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid rgb(160, 160, 160);
}

.drag-area {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
